<template>
  <TreeList view="dates" dataEndpoint="/imagedates/tree" :filterVisible="false">
    <template v-slot:default-header="prop">
      <div>
        <span v-if="prop.prop.node.month == 0">{{ prop.prop.node.year }}</span>
        <span v-else>{{
          new Date(
            prop.prop.node.year,
            prop.prop.node.month - 1,
            1
          ).toLocaleString("default", { month: "long" })
        }}</span>
      </div>
    </template>
  </TreeList>
</template>
<script>
import TreeList from "components/TreeList.vue";
export default {
  components: {
    TreeList,
  },
};
</script>
