<template>
  <div class="flex flex-center column" style="padding-top: 50px">
    <div
      id="parent"
      class="
        fit
        row
        wrap
        justify-start
        items-start
        content-start
        cursor-pointer
      "
      style="overflow: hidden"
    >
      <q-img
        v-for="slide in slides"
        @click="imgClick(slide)"
        @error="imgLoadError"
        :key="slide.id"
        :src="getThumbnail(slide)"
        class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2"
        style="height: 200px"
        fit="cover"
        loading="lazy"
        :no-spinner="true"
        v-ripple
      >
        <q-icon
          v-if="slide.mimeType.startsWith('video/') || slide.mimeType.startsWith('audio/')"
          class="absolute-center all-pointer-events"
          size="64px"
          :name="slide.mimeType.startsWith('video/')?'smart_display':'audiotrack'"
          color="white"
          @click.stop="imgClick(slide)"
        >
        </q-icon>
        <div
          v-if="showLabels"
          class="absolute-bottom text-subtitle3 text-center"
          @click.stop="imgClick(slide)"
        >
          {{ slide.name }}
        </div>
      </q-img>
    </div>
  </div>
  <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-avatar
            icon="download"
            color="primary"
            text-color="white"
            class="q-mr-md"
          />Confirm
        </div>
      </q-card-section>
      <q-card-section class="row items-center">
        <span class="q-ml-sm"
          >You are going to download a <b>{{ downloadFileSize }}</b> zip file
          containing <b>{{ downloadFileCount }} files</b></span
        >
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" v-close-popup />
        <q-btn
          flat
          label="Ok"
          color="primary"
          v-close-popup
          @click="downloadAll()"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue";
import { api } from "boot/axios";
import { computed } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import shared from "../shared";

export default {
  emits: ["update-toolbar-title", "update-toolbar-buttons"],
  setup() {
    return {
      confirm: ref(false),
      downloadFileCount: ref(0),
      downloadFileSize: ref(0),
    };
  },
  data() {
    const $store = useStore();
    var myTitle = "";
    return {
      slides: [],
      slidesCache: computed({
        get: () => $store.state.grid.data,
        set: (val) => $store.commit("grid/updateData", val),
      }),
      myTitle,
      api,
      defaultActionButtons: [
      {
        icon: "download",
        method: "downloadPrompt",
        label: "Download all",
      },
      {
        icon: "subtitles",
        method: "toggleLabels",
        label: "Toggle labels",
      },
    ],
      fullscreen: ref(false),
      showLabels: false,
      updateY(y) {
        $store.commit("grid/updateScrollY", y);
      },
    };
  },
  created() {
    const route = useRoute();
    var url = "/";
    switch (route.query.view) {
      case "albums":
        url = `/images/listalbum/?id=${route.query.id}`;
        break;
      case "dates":
        url = `/images/listdate/?date=${route.query.id}`;
        break;
      case "tags":
        url = `/images/listtags/?ids=${route.query.id}`;
        break;
    }

    // Check for already cached data
    if (!(url in this.slidesCache)) {
      api.get(url).then((response) => {
        this.slidesCache[url] = response.data;
        this.setSlides(this.slidesCache[url]);
      });
    } else {
      this.setSlides(this.slidesCache[url]);
    }

    // Setup toolbar title
    switch (route.query.view) {
      case "albums":
        api.get(`/albums/list/?id=${route.query.id}`).then((response) => {
          var album = response.data;
          this.$emit("update-toolbar-title", album[0].name);
        });
        break;
      case "dates":
        var year = parseInt(route.query.id.substring(0, 4));
        var month = parseInt(route.query.id.substring(4, 6));
        var title = year;
        if (month > 0) {
          title =
            new Date(year, month - 1, 1).toLocaleString("default", {
              month: "long",
            }) +
            " " +
            title;
        }
        this.$emit("update-toolbar-title", title);
        break;
      case "tags":
        api.get(`/tags/list/?ids=${route.query.id}`).then((response) => {
          var names = [];
          response.data.forEach((tag) => {
            names.push(tag.name);
          });
          this.$emit("update-toolbar-title", names.join(" - "));
        });
        break;
    }
  },
  mounted() {
    this.$emit("update-toolbar-buttons", this.defaultActionButtons);
    window.scrollTo(0, useStore().state.grid.scrollY);
  },
  methods: {
    // Set slides (called when it's time to bind slides to UI)
    setSlides(newSlides)
    {
      this.slides = newSlides;

      // Check if images contains any
      var hasPosition = false;
      this.slides.forEach((slide) => {
        if(slide.latitudeNumber != 0 && slide.longitudeNumber != 0)
        {
          hasPosition = true;
          return;
        }
      });

      // If an image has position, show the button for the map
      if(hasPosition)
      {
        var buttons = [...this.defaultActionButtons]
        buttons.unshift({
          icon: "map",
          method: "showMap",
          label: "Show map",
        })
        this.$emit("update-toolbar-buttons", buttons);
      }

    },

    // Get the image thumbnail
    getThumbnail(slide) {
      return api.getUri({
        url: api.defaults.baseURL + "/images/thumbnail",
        params: { id: slide.id, token: localStorage.getItem("token") },
      });
    },
    // Open slideshow page when click on an image
    imgClick(slide) {
      this.updateY(window.scrollY);
      this.$router.push({
        path: "/Slideshow",
        query: {
          view: this.$router.currentRoute.value.query.view,
          id: this.$router.currentRoute.value.query.id,
          slide: slide.id,
        },
      });
    },
    toggleLabels() {
      this.showLabels = !this.showLabels;
    },
    showMap(){
      this.$router.push({
        path: "/MapOf",
        query: {
          view: this.$router.currentRoute.value.query.view,
          id: this.$router.currentRoute.value.query.id,
        },
      });
    },
    downloadPrompt() {
      // Get totals of downloading files
      this.downloadFileCount = this.slides.length;
      var totalFileSize = 0;
      this.slides.forEach((slide) => (totalFileSize += slide.fileSize));
      this.downloadFileSize = shared.humanFileSize(totalFileSize, false, 2);

      // Start confirm dialog
      this.confirm = true;
    },
    downloadAll() {
      // Get download uri
      var endpoint = "/";
      switch (this.$router.currentRoute.value.query.view) {
        case "albums":
          endpoint = `/images/downloadalbum/?id=${this.$router.currentRoute.value.query.id}`;
          break;
        case "dates":
          endpoint = `/images/downloaddate/?date=${this.$router.currentRoute.value.query.id}`;
          break;
        case "tags":
          endpoint = `/images/downloadtags/?ids=${this.$router.currentRoute.value.query.id}`;
          break;
      }
      var downloadUri = api.getUri({
        url: api.defaults.baseURL + endpoint,
        params: { token: localStorage.getItem("token") },
      });

      // Start download
      window.open(downloadUri, "_blank");
    },
    imgLoadError(element)
    {
      // set image source to an empty image
      element.target.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
    }
  },
};
</script>
