<template>
  <q-page-container>
    <q-page
      class="
        bg-primary
        window-height window-width
        row
        justify-center
        items-center
      "
    >
      <div class="column">
        <div class="text-center">
          <q-avatar>
            <img src="~assets/digiKamWebViewerWhite.svg" />
          </q-avatar>

          <h5 class="text-h5 text-white q-my-md q-pl-md">digiKamWebViewer</h5>
        </div>
        <div class="row">
          <q-card square bordered class="q-pa-sm shadow-1">
            <q-form @submit="submit">
              <q-card-section class="q-gutter-sm">
                <q-input
                  square
                  filled
                  clearable
                  v-model="username"
                  type="username"
                  label="username"
                />
                <q-input
                  square
                  filled
                  clearable
                  v-model="password"
                  type="password"
                  label="password"
                />
              </q-card-section>
              <q-card-actions :class="{ 'q-px-md': true, shake: errorActivated }">
                <q-btn
                  unelevated
                  color="primary"
                  size="lg"
                  class="full-width"
                  type="submit"
                  label="Login"
                />
                <span v-if="errorActivated" class="text-red text-center" style="width: 100%">{{errorMessage}}</span>
              </q-card-actions>
            </q-form>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-page-container>
</template>

<script>
import { api } from "boot/axios";
import { useQuasar } from "quasar";

export default {
  name: "Login",
  setup() {
    return {
      q: useQuasar(),
    };
  },
  data() {
    return {
      errorActivated: false,
      errorMessage: "Wrong username or password!",
      username: "",
      password: "",
      castLoginError() {
        this.q.notify({
          type: "negative",
          message: this.errorMessage,
        });
        this.errorActivated = true;
        setTimeout(() => (this.errorActivated = false), 5000);
      },
    };
  },
  methods: {
    submit() {
      const params = new URLSearchParams();
      params.append("username", this.username);
      params.append("password", this.password);

      var pageContext = this;
      api
        .post("auth", params, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        })
        .then((response) => {
          localStorage.setItem("token", response.data.token);
          localStorage.setItem("tokenExpiryTime", new Date().valueOf()/1000 + response.data.expiresIn);
          localStorage.setItem("user", JSON.stringify(response.data.user));

          var redirect = this.$route.query.redirect || '/'
          this.$router.push(redirect);

        })
        .catch(function (error) {
          pageContext.castLoginError();
          localStorage.setItem("token", null);
          localStorage.setItem("user", null);
          return Promise.reject(error);
        });
    },
  },
};
</script>

<style>
.q-card {
  width: 360px;
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
