<template>
  <TreeList
    view="tags"
    dataEndpoint="/tags/tree"
    avatarEndpoint="/tags/thumbnail"
    hasAvatarProperty="icon"
    tickStrategy="strict"
  >
    <template v-slot:buttons-area="prop">
      <q-btn-group
        rounded
        class="fixed fixed-bottom-right q-ma-md"
        size="lg"
        :style="$q.screen.lt.md ? 'margin-bottom:78px' : ''"
        v-if="prop.ticked.length > 0"
      >
        <q-btn rounded color="accent" icon="clear" @click="prop.clearTicked" />
        <q-btn
          rounded
          color="accent"
          icon-right="arrow_forward"
          :label="prop.ticked.length"
          @click="prop.openTicked"
        />
      </q-btn-group>
    </template>
  </TreeList>
</template>
<script>
import TreeList from "components/TreeList.vue";
export default {
  components: {
    TreeList,
  },
};
</script>
